{
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "indent": [ 2, 4, { "SwitchCase": 1 } ],
        "linebreak-style": [ 2, "unix" ],
        "no-unused-vars": [2, { "args": "none" }],
        "react/jsx-uses-react": 1,
        "semi": [ 2, "always" ],
        "no-console": 2
    },
    "parser": "babel-eslint",
    "plugins": [
        "mocha"
    ]
}
