/* chart colors */
$chart-red: #A81C00;
$chart-orange: #D87118;
$chart-yellow: #FED66F;
$chart-green: #A4B946;
$chart-olive: #666E4C;
$chart-aqua: #79E0CB;
$chart-blue: #4E8DB8;
$chart-purple: #8A406D;
$chart-pink: #EB91C0;

$jut-primary-color-list: ($yellow, $yellow-light, $green, $green-light, $green-medium, $red, $red-dark, $blue-light, $blue-gray, $blue-medium);
$jut-milder-color-list: ($chart-red, $chart-orange, $chart-yellow, $chart-green, $chart-olive, $chart-aqua, $chart-blue, $chart-purple, $chart-pink);

$padding-alternate-vertical: 12px;
$padding-alternate-horizontal: 40px;
$navbar-footer-height: 35px;
